= haml :header

#header 
  <a href=#{url('/')} class="dark">blogform</a><a href=#{url('/movement')} class="light">/movement</a><a href=#{url("/movement/#{text}")} class="lighter">.#{text}</a>
  = haml :navigation
