= haml :header, :locals => {:admin => false}

%h1 Blog Title

%div.navigation
  %a{:title => "Home", :href => url('/')} Home
  %a{:title => "About", :href => url('/about')} About
  %a{:title => "Contact", :href => url('/contact')} Contact

- @posts.each do |post|
  %div{:id => "post#{post.id}", :class => "post"}
    %h2= post.title
    %div{:id => "text#{post.id}", :class => "posttext"} #{post.body}
    %div{:id => "date#{post.id}", :class => "postdate"} #{post.date}
